.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  user-select: none;
  cursor: grab;
}

.wrapper.dragging {
  cursor: grabbing;
}

.imageWrapper {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.zoomValue {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 3px 5px;
  font-size: 12px;
  text-align: center;
  width: 40px;
  border-radius: 20px;
  color: #FFF;
}

.zoomValue:hover {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

/* 工具栏 */
.tools {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  color: #FFF;
  display: flex;
  font-size: 14px;
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: 20px;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.tools li {
  margin: 0;
  padding: 8px 15px;
}

.tools li:hover {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

/* 背景切换 */
.background_black {
  background-color: rgb(15, 15, 15);
}

.background_white {
  background-color: #FFF;
}

.background_grey {
  background-color: rgb(129, 129, 129);
}

.background_grid {
  background-image: linear-gradient(to top right,#f0f0f0 25%,transparent 0,transparent 75%,#f0f0f0 0,#f0f0f0),linear-gradient(to top right,#f0f0f0 25%,transparent 0,transparent 75%,#f0f0f0 0,#f0f0f0);
  background-color: #fff;
  background-size: 24px 24px;
  background-position: 0 0, 12px 12px;
}