.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-color: rgba(0, 0, 0, 0.2);
  user-select: none;

  cursor: grab;
}

.imgEle {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 80ms ease-out;
}

.zoomValue {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 3px 5px;
  font-size: 12px;
  text-align: center;
  width: 40px;
  border-radius: 20px;
  color: #FFF;
}

.zoomValue:hover {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}