.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-color: rgba(0, 0, 0, 0.2);
  user-select: none;

  cursor: grab;
}

.imgEle {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 80ms ease-out;
}